/*--------- TOP BAR --------*/

@font-face {
    font-family: Sinkinb;
    src: url(fonts/SinkinSans-bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Sinkin;
    src: url(fonts/SinkinSans-light.otf);
    font-weight: normal;
}

@font-face {
    font-family: Sinkini;
    src: url(fonts/SinkinSans-lightitalic.otf);
    font-weight: italic;
}

html {
    display: flex;
    background-color: #e6e6e9;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Sinkin;
}

body img {
    max-width: 100%;
}

body p {
    font-family: Sinkin;
}

header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    max-height: 1em;
    background-color: white;
    margin-left: -1em;
    margin-top: -0.5em;
    padding-bottom: 2.8em;
}

header img {
    max-height: 2.5em;
    max-width: 3.5em;
}

header form input[type=search]:focus {
    background-color: royalblue;
    color: white;
}

input[type=submit] {
    background-color: #62a8e8;
    color: white;
}

.vergrootglas {
    max-height: 1em;
    padding: 1em;
}

header form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header form input {
    max-width: 9em;
    color: darkgray;
}

header section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.5em;
}

header h1 {
    align-self: flex-end
}


/*------ PICTURE LOGO ------*/

figure {
    margin-top: -1em;
}


/*-------- FILTERBALK -------*/

.filterbalk {
    font-family: Sinkin;
    box-sizing: border-box;
    min-width: 26em;
    min-height: 3.5em;
    max-height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    background: #fac618;
    flex-wrap: nowrap;
    margin-left: -1em;
    margin-top: -2.5em;
    padding-top: -1em;
}

.filterbalk form select {
    background: white;
    flex-basis: auto;
}

.storyperpage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 2em;
    justify-content: space-around;
    align-items: center;
}

.filterbalk form input {
    background: #62a8e8;
}


/*--Animation Stories --*/

.leesknop {
    transition: all 2s;
}

.leesknop > button {}

.leesknop .dancing {

transform:scale(1.5) rotate(-360deg) skew(5deg, -20deg);
padding:0 2em 2em;

}

/*------ MEDIA QUERIES ------*/

/* MOBIEL */
@media only screen and (min-device-width: 375px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
    .taglijst {
        display: none;
    }

    .filterbalk {
        font-size: 0.5em;
        justify-content: space-around;
        align-items: center;
        max-width: 200em;
    }

    .filterbalk form select {
        max-width: 7em;
    }

    header {
        max-width: 104%;
        min-width: 26em;
        width: 142%;
    }

    figure aside {
        box-sizing: border-box;
        background: hsla(240, 100%, 30%, .8);
        color: white;
        padding: 1em;
        margin-left: 45%;
        margin-top: -14.5em;
        position: absolute;
        max-width: 10em;
        max-height 13em;
    }

    figure img {
        min-width: 126%;
        max-width: 100%;
        min-height: 2em;
        margin-top: 1em;
        align-self: auto;
        margin-left: -3em;
    }

    .titel {
        animation: stretch 2s ease-out 1s 1 alternate none running;
    }

    @keyframes stretch {
        0% {
            transform: scale(.3);
            background-color: white;
            border-radius: 100%;
        }
        25% {
            background-color: lightblue;
            border-radius: 50%
        }
        50% {
            transform: scale(1.5);
        }
        75% {
            background-color: skyblue;
        }
        100% {
            background-color: darkblue;
        }
    }

    article section footer button {
        margin-top: -0.2em;
        margin-left: auto;
    }

    .verhaal {
        display: none;
    }

    .tag {
        display: none;
    }

    .metadata {
        display: none;
    }

    .storyperpage {
        display: none;
    }
    /*-------- VERHALEN ---------*/

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    article section {
        color: hsla(240, 100%, 20%, 1);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        box-sizing: border-box;
        border-width: 5px;
        border-color: black;
        margin: 0.5em;
        height: 10em;
        padding: 0.5em;
    }

    article section h1 {
        font-family: Sinkinb;
        align-self: flex-start;
        margin-top: 0em;
    }

    article section aside p {
        font-family: Sinkini;
        font-size: 80%;
        margin-bottom: 2.2em;
    }

    .s1 {
        background-image: url(images/verwarring.jpg);
        background-size: cover;
    }

    .s2 {
        background-image: url(images/suspense.jpg);
        background-size: cover;
    }

    .s3 {
        background-image: url(images/frustratie.jpg);
        background-size: cover;
    }

    article section footer button {
        background-color: hsla(220, 100%, 80%, 1);
        min-width: 3em;
        max-height: 3em;
        padding: 0.5em;
        margin-top: -0.5em;
        margin-left: auto;
        position: relative;
        display: block;
        font-size: 120%;
        color: white;
    }

    article section p {
        width: 50%;
    }

    .metadata {
        font-family: Sinkini;
    }

    .heart {
        max-width: 2em;
        position: absolute;
        margin-left: 1em;
        margin-top: 0em;
        flex-shrink: auto;
    }
    .second {
        max-width: 2em;
        position: absolute;
        margin-left: 1em;
        margin-top: 0em;
        flex-shrink: auto;
        transform: scale(1.50);
    }

    .star {
        max-width: 2em;
        position: absolute;
        margin-left: 4em;
        margin-top: 0em;
        flex-shrink: auto;
    }
    /*************LOGIN PAGE**************/

    .login {
        background-color: #fac618;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin-left: -0.5em;
        margin-top: -1.1em;
    }

    .login h1 {
        margin-left: 1.4em;
    }

    .login form fieldset {
        align-self: baseline;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        width: 50%;
        margin-left: 19%;
        margin-bottom: 2em;
        padding: 1em;
    }

    .login form fieldset label {
        margin-bottom: 1em;
    }

    .login form fieldset input {
        margin-bottom: 1em;
    }

    .forgot {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin-left: -0.5em;
        margin-top: -1.1em;
    }

    .forgot h1 {
        font-size: 130%;
        padding: 1em;
        margin-left: 1em;
        margin-bottom: -2em;
    }

    .forgot p {
        font-size: 100%;
        padding: 1em;
        margin-left: 1em;
    }

    .forgot input {
        min-height: 120%;
        margin-bottom: 2em;
    }

    .info {
        display: none;
    }
    /*************WESTERN PAGE**************/

    .storyimgt {
        display: none;
    }

    .storyimgl {
        display: none;
    }

    .backbut {
        position: fixed;
    }
}

/* TABLET */
@media only screen and (min-device-width: 767px) and (max-device-width: 1199px) and (-webkit-min-device-pixel-ratio: 1) {
    .taglijst {
        display: none;
    }

    article {
        margin-left: 0em;
    }

    article section {
        width: 110%;
    }

    article section p {
        margin-top: -0.6em;
    }

    .metadata {
        display: none;
    }

    .filterbalk {
        font-size: 0.8em;
        justify-content: space-around;
        align-items: center;
        max-width: 115%;
        width: 115%;
    }

    .filterbalk form select {
        max-width: 10em;
    }

    header {
        max-width: 115%;
        min-width: 26em;
        width: 142%;
    }

    .tag {
        display: none;
    }

    figure aside {
        box-sizing: border-box;
        background: hsla(240, 100%, 30%, .8);
        color: white;
        padding: 1em;
        margin-left: 60%;
        margin-top: -27.5em;
        position: absolute;
        max-width: 18em;
    }

    figure img {
        min-width: 128%;
        max-width: 100%;
        min-height: 2em;
        margin-top: 1em;
        align-self: auto;
        margin-left: -3em;
    }

    .titel {
        animation: stretch 2s ease-out 1s 1 alternate none running;
    }

    @keyframes stretch {
        0% {
            transform: scale(.3);
            background-color: white;
            border-radius: 100%;
        }
        25% {
            background-color: lightblue;
            border-radius: 50%
        }
        50% {
            transform: scale(1.5);
        }
        75% {
            background-color: skyblue;
        }
        100% {
            background-color: darkblue;
        }
    }

    article section footer button {
        margin-top: -3.5em;
        margin-left: auto;
    }
    /*-------- VERHALEN ---------*/

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    article section {
        color: hsla(240, 100%, 20%, 1);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        box-sizing: border-box;
        border-width: 5px;
        border-color: black;
        margin: 0.5em;
        height: 10em;
        padding: 0.5em;
    }

    article section h1 {
        font-family: Sinkinb;
        align-self: flex-start;
        margin-top: 0em;
    }

    article section aside p {
        font-family: Sinkini;
        font-size: 80%;
        margin-bottom: 2.2em;
    }

    .s1 {
        background-image: url(images/verwarring.jpg);
        background-size: cover;
    }

    .s2 {
        background-image: url(images/suspense.jpg);
        background-size: cover;
    }

    .s3 {
        background-image: url(images/frustratie.jpg);
        background-size: cover;
    }

    article section footer button {
        background-color: hsla(220, 100%, 80%, 1);
        min-width: 3em;
        max-height: 3em;
        padding: 0.5em;
        margin-top: -3.5em;
        margin-left: auto;
        position: relative;
        display: block;
        font-size: 120%;
        color: white;
    }

    article section p {
        width: 50%;
    }

    .metadata {
        font-family: Sinkini;
    }

    .heart {
        max-width: 2em;
        position: absolute;
        margin-left: 13em;
        margin-top: -4.5em;
        flex-shrink: auto;
    }
    .second {
        max-width: 2em;
        position: absolute;
        margin-left: 13em;
        margin-top: -4.5em;
        flex-shrink: auto;
        transform: scale(1.50);
    }

    .star {
        max-width: 2em;
        position: absolute;
        margin-left: 17em;
        margin-top: -4.5em;
        flex-shrink: auto;
    }
    /*************LOGIN PAGE**************/

    .login {
        background-color: #fac618;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin-left: -0.5em;
        margin-top: -1.1em;
        width: 114.5%;
    }

    .login h1 {
        margin-left: 10em;
    }

    .login form fieldset {
        align-self: baseline;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        width: 38%;
        margin-left: 19%;
        margin-bottom: 3em;
        padding: 1em;
        padding-left: 12em;
    }

    .login form fieldset label {
        margin-bottom: 1em;
    }

    .login form fieldset input {
        margin-bottom: 1em;
    }

    .forgot {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        min-width: 82%;
        flex-wrap: nowrap;
        margin-left: -1em;
        margin-top: 0em;
        padding-left: 15em;
    }

    .forgot h1 {
        font-size: 130%;
        padding: 1em;
        margin-left: 0em;
        margin-bottom: 0em;
    }

    .forgot p {
        font-size: 100%;
        padding: 1em;
        margin-left: 0em;
    }

    .forgot input {
        min-height: 120%;
        margin-bottom: 2em;
        width: 50%;
        margin-left: 2em;
    }

    .info {
        display: none;
    }
    /*************WESTERN PAGE**************/

    .storyimgm {
        display: none;
    }

    .storyimgt {
        min-width: 113%;
    }

    .storyimgl {
        display: none;
    }

    .backbut {
        position: fixed;
    }
}

/* LAPTOP */
@media screen and (min-device-width: 1199px) and (max-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1) {
    .filterbalk {
        font-size: 1em;
        justify-content: space-around;
        align-items: center;
        max-width: 117%;
        width: 103%;
    }

    .filterbalk form select {
        max-width: 10em;
    }

    header {
        max-width: 103%;
        min-width: 26em;
        width: 142%;
    }

    figure aside {
        box-sizing: border-box;
        background: hsla(240, 100%, 30%, .8);
        font-size: 120%;
        color: white;
        padding: 1em;
        margin-left: 62%;
        margin-top: -31.5em;
        position: absolute;
        max-width: 18em;
    }

    figure img {
        min-width: 109%;
        max-width: 100%;
        min-height: 2em;
        margin-top: 1em;
        align-self: auto;
        margin-left: -3em;
    }

    .titel {
        animation: stretch 2s ease-out 1s 1 alternate none running;
    }

    @keyframes stretch {
        0% {
            transform: scale(.3);
            background-color: white;
            border-radius: 100%;
        }
        25% {
            background-color: lightblue;
            border-radius: 50%
        }
        50% {
            transform: scale(1.5);
        }
        75% {
            background-color: skyblue;
        }
        100% {
            background-color: darkblue;
        }
    }
    /*-------- VERHALEN ---------*/

    article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    article section {
        color: hsla(240, 100%, 20%, 1);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        box-sizing: border-box;
        border-width: 5px;
        border-color: black;
        margin: 0.5em;
        height: 20em;
        padding: 0.5em;
    }

    article section h1 {
        font-family: Sinkinb;
        align-self: flex-start;
        margin-top: 0em;
        margin-bottom: -0.4em;
    }

    article section aside p {
        font-family: Sinkini;
        font-size: 80%;
        margin-bottom: -0.4em;
    }

    .s1 {
        background-image: url(images/verwarring-g.jpg);
        background-size: cover;
    }

    .s2 {
        background-image: url(images/suspense-g.jpg);
        background-size: cover;
    }

    .s3 {
        background-image: url(images/frustratie-g.jpg);
        background-size: cover;
    }

    article section footer button {
        background-color: hsla(220, 100%, 80%, 1);
        min-width: 3em;
        max-height: 3em;
        padding: 0.5em;
        margin-top: -2.5em;
        margin-left: auto;
        position: relative;
        display: block;
        font-size: 120%;
        color: white;
    }

    article section p {
        width: 100%;
    }

    .metadata {
        font-family: Sinkini;
        font-size: 80%;
        margin-top: -0.6em;
    }

    .heart {
        max-width: 2em;
        position: absolute;
        margin-left: 17em;
        margin-top: -1.8em;
        flex-shrink: auto;
    }
    .second {
        max-width: 2em;
        position: absolute;
        margin-left: 17em;
        margin-top: -1.8em;
        transform: scale(1.50);
    }

    .star {
        max-width: 2em;
        position: absolute;
        margin-left: 20em;
        margin-top: -1.8em;
        flex-shrink: auto;
    }

    .tag {
        display: flex;
        background-color: #fac618;
        width: 30%;
        padding: 0.5em;
        align-items: center;
        justify-content: space-around;
        font-size: 90%;
    }
    /*************LOGIN PAGE**************/

    .loginblok {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin-top: -5em;
        width: 101%;
    }

    .login {
        background-color: #fac618;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 0.5em;
        margin-right: 1.5em;
        margin-top: -1.1em;
        width: 201.5%;
    }

    .login h1 {
        display: flex;
        justify-content: center;
    }

    .login form fieldset {
        align-self: baseline;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        width: 38%;
        margin-left: 25%;
        margin-bottom: 3em;
        padding: 1em;
        padding-left: 1em;
    }

    .login form fieldset label {
        margin-bottom: 1em;
    }

    .login form fieldset input {
        margin-bottom: 1em;
    }

    .forgot {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        min-width: 33%;
        flex-wrap: nowrap;
        margin-left: -1em;
        margin-top: -1.2em;
        padding-left: 0em;
    }

    .forgot h1 {
        font-size: 130%;
        padding: 1em;
        margin-left: 0.7em;
        margin-bottom: 0em;
    }

    .forgot p {
        font-size: 100%;
        padding: 1em;
        margin-left: 0.7em;
    }

    .forgot input {
        min-height: 17%;
        margin-bottom: 7em;
        width: 31%;
        margin-left: 12em;
    }

    .info {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: space-around;
        min-width: 25%;
        margin-left: -1em;
        margin-top: -1.1em;
        padding: 1.5em;
    }
    /*************VERHAAL PAGES **************/

    .storyimgm {
        display: none;
    }

    .storyimgt {
        display: none;
    }

    .storyimgl {
        min-width: 100%;
    }

    .backbut {
        position: fixed;
    }
}
